@model IEnumerable<NomiPro.ModelDB.CONTROL_PAGO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Control de Pago</h2>

<p>
    <a href="/CONTROL_PAGO/Create" class="btn btn-success"> Crear nuevo </a>
</p>
<table class="table">
    <tr>
        <th>
            <label><b>Valor de horas extras</b></label>
        </th>
        <th>
            <label><b>Valor de parafiscal</b></label>
        </th>
        <th>
            <label><b>Mes</b></label>
        </th>
        <th>
            <label><b>Nombre empleado</b></label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Horas_Extra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Parafiscal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLEADOS.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_Control_Pago }, new { @class = "btn btn-outline-primary waves-effect" })
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_Control_Pago }, new { @class = "btn btn-outline-warning waves-effect" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_Control_Pago }, new { @class = "btn btn-outline-danger waves-effect" })
        </td>
    </tr>
}

</table>
